*{
    padding: 0px;
    margin: 0px;
}

.header{
    height: 90px;
    background-color: rgb(52, 51, 56);
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.LOGO{
    color: aliceblue;
    font-family: sans-serif;
    margin-left: 20px;
}
a{
    color: aliceblue;
    font-family: sans-serif;
    font-size: large;
    text-decoration: none;
    font-weight:bold;
    margin-right: 30px;
}

.WebBODY{
    height:630PX;
    background: linear-gradient(to right,#6a11cb,#2575fc);
    color: aliceblue;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bodytext{
    
    font-size:40px ;
}

#bodytext-p{
    font-size:25px;
    margin-top: 15px;

}
#bodytext-start{
    background-color: aliceblue;
    color: blue;
    padding: 15px 30px;
    border-radius: 10px;
    display: inline-block;
    margin-top: 15px;
}

footer{
    height: 50px;
    background-color: rgb(52, 51, 56);
    color:antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
}